/.DS_Store
/.ipynb_checkpoints
/Assignment 1 FInal Copy FINE 3300
/Assignment 2 Files
/Bank_Historical_Prices.xlsx
/Current Portfolio .xlsx
/ITEC Website Project.rtfd
/Itec 1010 Project.ipynb
/Json to excel spotify conversion.ipynb
/Membership.py
/Merger Arb Linear Program.ipynb
/Outputs
/Pref Shares Analysis.ipynb
/Sample Text.txt
/Spotify_1.xlsx
/Spotify_2.xlsx
/Streaming_History_Audio_2022-2024_2.json
/Streaming_History_Video_2016-2024.json
/Transaction Analysis notebook.ipynb
/Yahoo Finance Datapull.ipynb
/fin_output.txt
/keys.json
/records.txt
/~$Current Portfolio .xlsx